<div class="collection-group-container">
    <div class="collection-group-message collection-group-reactivation-message">
        You can reactivate this group in the <i class="fa fa-toggle-on"></i> (Groups) menu.
    </div>
    <div class="collection-group <%= group_name %>" data-group-name="<%= group_name %>">
        <a class="inpage-link" name="<%= group_name %>"></a>
        <h2>
            <span class="group-control group-expando-toggle toggle-closed" title="Toggle group open">&#xf0fe;</span>
            <span class="group-control group-expando-toggle toggle-opened" title="Toggle group closed">&#xf146;</span>
            <!--<span class="group-control group-select-toggle toggle-collected" title="Set all as collected">&#xf1db;</span>-->
            <!--<span class="group-control group-select-toggle toggle-uncollected" title="Set all as not collected">&#xf111;</span>-->
            <!--<span class="group-control group-toggle-on-off toggle-on" title="Toggle group off">&#xf205;</span>-->
            <!--<span class="group-control group-toggle-on-off toggle-off" title="Toggle group on">&#xf204;</span>-->
            <div class="more-controls">
                <span class="group-control group-more" title="More">&#xf141;</span>
                <div class="more-controls-outer-container">
                    <div class="more-controls-inner-container">
                        <div class="tab-arrow"><div class="tab-arrow-container"></div></div>
                        <!--<div class="more-controls-control">-->
                            <!--<span class="group-control group-expando-toggle toggle-closed" title="Toggle group open">&#xf0fe;</span>-->
                            <!--<span class="group-control group-expando-toggle toggle-opened" title="Toggle group closed">&#xf146;</span>-->
                            <!--<span class="group-control-title">Toggle group open</span>-->
                        <!--</div>-->
                        <div class="more-controls-control">
                            <span class="group-control group-select-toggle toggle-collected" title="Set all as collected">&#xf1db;</span>
                            <span class="group-control group-select-toggle toggle-uncollected" title="Set all as not collected">&#xf111;</span>
                            <span class="group-control-title group-select-toggle">Toggle group collected</span>
                        </div>
                        <div class="more-controls-control">
                            <span class="group-control group-toggle-on-off toggle-on" title="Toggle group off">&#xf205;</span>
                            <span class="group-control group-toggle-on-off toggle-off" title="Toggle group on">&#xf204;</span>
                            <span class="group-control-title group-toggle-on-off">Toggle group off</span>
                        </div>
                        <div class="more-controls-separater"></div>
                        <div class="more-controls-control" data-control-id="sort-alpha-asc">
                            <span class="group-control group-sort-alpha-asc" title="Sort by alpha title ascend">&#xf15d;</span>
                            <span class="group-control-title group-sort-alpha-asc">Sort by alpha title ascend</span>
                        </div>
                        <div class="more-controls-control" data-control-id="sort-alpha-desc">
                            <span class="group-control group-sort-alpha-desc" title="Sort by alpha title descend">&#xf15e;</span>
                            <span class="group-control-title group-sort-alpha-desc">Sort by alpha title descend</span>
                        </div>
                        <div class="more-controls-control" data-control-id="sort-numeric-asc">
                            <span class="group-control group-sort-numeric-asc" title="Sort by num key ascend">&#xf162;</span>
                            <span class="group-control-title group-sort-numeric-asc">Sort by num key ascend</span>
                        </div>
                        <div class="more-controls-control" data-control-id="sort-numeric-desc">
                            <span class="group-control group-sort-numeric-desc" title="Sort by num key descend">&#xf163;</span>
                            <span class="group-control-title group-sort-numeric-desc">Sort by num key descend</span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="group-title-text"><%= group_title %></span>
            <sup class="group-stat">(<span class="group-stat-collected"><%= group_collected %></span> of <span class="group-stat-total"><%= group_total %></span>)</sup>
        </h2>
        <div class="grid group"></div>
    </div>
</div>
