<div class="remodal menu menu-sort" data-remodal-id="sort-sort">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="title">Sort</div>
    <div class="sort-controls">
        <div class="control" data-control-id="sort-alpha-asc" title="Sort by alpha title ascending">
            <span class="icon">&#xf15d;</span>
            <a class="control-title">Alpha Title Ascending</a>
        </div>
        <div class="control" data-control-id="sort-alpha-desc" title="Sort by alpha title descending">
            <span class="icon">&#xf15e;</span>
            <a class="control-title">Alpha Title Descending</a>
        </div>
        <div class="control" data-control-id="sort-total-asc" title="Sort by total count ascending">
            <span class="icon">&#xf160;</span>
            <a class="control-title">Total Count Ascending</a>
        </div>
        <div class="control" data-control-id="sort-total-desc" title="Sort by total count descending">
            <span class="icon">&#xf161;</span>
            <a class="control-title">Total Count Descending</a>
        </div>
        <div class="control" data-control-id="sort-numeric-asc" title="Sort by numeric key ascending">
            <span class="icon">&#xf162;</span>
            <a class="control-title">Numeric Key Ascending</a>
        </div>
        <div class="control" data-control-id="sort-numeric-desc" title="Sort by numeric key descending">
            <span class="icon">&#xf163;</span>
            <a class="control-title">Numeric Key Descending</a>
        </div>
    </div>
</div>

