<div class="remodal menu menu-sort" data-remodal-id="sort-sort">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="title">Sort</div>
    <div class="sort-controls">
        <div class="control" data-control-id="sort-alpha-asc">
            <span class="icon">&#xf15d;</span>
            <a class="control-title">Alpha Ascending</a>
        </div>
        <div class="control" data-control-id="sort-alpha-desc">
            <span class="icon">&#xf15e;</span>
            <a class="control-title">Alpha Descending</a>
        </div>
        <div class="control" data-control-id="sort-total-asc">
            <span class="icon">&#xf160;</span>
            <a class="control-title">Total Ascending</a>
        </div>
        <div class="control" data-control-id="sort-total-desc">
            <span class="icon">&#xf161;</span>
            <a class="control-title">Total Descending</a>
        </div>
    </div>
</div>

