<div class="remodal menu menu-share" data-remodal-id="share">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="title">Share</div>
    <div class="control-generate-json-config control">
        <span class="icon button">&#xf1c9;</span>
        <a href="#" class="button">Generate Configuration File</a>
        <div class="info">
            <span class="message">Save your collection configuration to upload elsewhere.</span>
            <span class="download">Download <a href="#" download="CollectionConfiguration.json" target="_blank">CollectionConfiguration.json</a>.</span>
        </div>
    </div>
    <div class="control-upload-json-config control">
        <span class="icon button">&#xf093;</span>
        <a href="#" class="button">Upload Configuration File</a>
        <div class="info">
            <span class="message">Upload your collection configuration. <em>Warning!</em> This will override your current collection configuration.</span>
            <input class="collection-configuration-input" type='file' name='collection-configuration-input'>
        </div>
    </div>
    <div class="control-generate-share-image control">
        <span class="icon button">&#xf1c5;</span>
        <a href="#" class="button">Generate Collection Image  <i class="fa fa-spinner fa-pulse fa-fw"></i></a>
        <div class="info">
            <span class="message">
                Create an image of your collection to share. <em>Please be patient.</em>
                This can take a moment depending on your hardware.
            </span>
            <span class="download">Image ready to <a href="#" download="MyCollection.png">download</a>.</span>
            <span class="none">Sorry, it looks like <em>you haven't collected anything yet.</em></span>
            <canvas class="share-image" width="400" height="600"></canvas>
        </div>
    </div>
</div>
