<!-- Filter menu modal -->
<div class="remodal menu menu-filter" data-remodal-id="filter-sort">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="title">Sort By</div>
    <div class="filter-controls">
        <div class="control" data-control-id="sort-alpha-asc">
            <a href="#" class="icon">&#xf15d;</a>
            <span class="control-title">Alpha Ascending</span>
        </div>
        <div class="control" data-control-id="sort-alpha-desc">
            <a href="#" class="icon">&#xf15e;</a>
            <span class="control-title">Alpha Descending</span>
        </div>
        <div class="control" data-control-id="sort-total-asc">
            <a href="#" class="icon">&#xf160;</a>
            <span class="control-title">Total Ascending</span>
        </div>
        <div class="control" data-control-id="sort-total-desc">
            <a href="#" class="icon">&#xf161;</a>
            <span class="control-title">Total Descending</span>
        </div>
    </div>
</div>

