<!-- Share menu modal -->
<div class="remodal menu menu-share" data-remodal-id="share">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="title">Share</div>
    <!--
    <div class="url-share-info">
        You can copy and paste the link below to share your collection.
    </div>
    <div class="url-share-input">
        <input type="text">
    </div>
    -->
    <div class="image-share-info">
        <a href="" download="AmiiboCollection.png">Download</a> the generated image below to share.
    </div>
    <div class="image-canvas">
        <canvas class="share-image"></canvas>
    </div>
</div>

