<div class="remodal menu menu-share" data-remodal-id="share">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="title">Tools</div>
    <div class="control-generate-json-config control">
        <span class="icon button">&#xf1c9;</span>
        <a href="#" class="button">Generate Configuration File</a>
        <div class="info">
            <span class="message">Save your collection configuration to upload elsewhere.</span>
            <span class="download">Download <a href="#" download="CollectionConfiguration.json" target="_blank">CollectionConfiguration.json</a>.</span>
        </div>
    </div>
    <div class="control-upload-json-config control">
        <span class="icon button">&#xf093;</span>
        <a href="#" class="button">Upload Configuration File</a>
        <div class="info">
            <span class="message">Upload your collection configuration. <em>Warning!</em> This will override your current collection configuration.</span>
            <input class="collection-configuration-input" type='file' name='collection-configuration-input'>
        </div>
    </div>
    <div class="control-collection-reset control">
        <span class="icon button">&#xf021;</span>
        <a href="#" class="button">Reset Collection</a>
        <div class="info">
            <span class="message"><em>Warning!</em> If you restart your locally saved progress will be reset. Are you sure you want to continue?</span>
        </div>
    </div>
</div>
