<div class="remodal menu menu-item-settings" data-remodal-id="item-settings" data-item-group="<%= item_group %>" data-item-name="<%= item_name %>">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="title">Settings - <%= item_title %></div>
    <div class="items-controls">
        <div class="controls-item-add control">
            <span class="icon button">&#xf067;</span>
            <a class="button">Add Item</a>
        </div>
    </div>
    <div class="sub-items-container">
    </div>
</div>

