//--------
// Base
//
// Core element and element library definitions

//----------------------------------------------------------------------------------------------------------------------
// VIEWPORT/WINDOW
//----------------------------------------------------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans';
  font-size: 100%/1.5;
}


//----------------------------------------------------------------------------------------------------------------------
// ANCHORS/LINKS
//----------------------------------------------------------------------------------------------------------------------

a {
  color: $blue;
  text-decoration: none;
  transition: color 250ms ease;
}
a:hover,
a:focus,
a:active {
  color: $azure;
  transition: color 250ms ease;
}


//----------------------------------------------------------------------------------------------------------------------
// BUTTONS
//----------------------------------------------------------------------------------------------------------------------

button {

}


//----------------------------------------------------------------------------------------------------------------------
// HEADERS
//----------------------------------------------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}


//----------------------------------------------------------------------------------------------------------------------
// INLINE
//----------------------------------------------------------------------------------------------------------------------

small {

}

acronym, abbr {

}

ins, mark {

}

pre, code, kbd, samp, tt {

}

code, kbd, samp, tt {

}

var {

}

img, video, object {

}

figure {
  p {

  }
  figcaption {

  }
}

hr {

}

span {

}


//----------------------------------------------------------------------------------------------------------------------
// BLOCK
//----------------------------------------------------------------------------------------------------------------------

blockquote {

}

pre {
  code {

  }
}

p {

}


//----------------------------------------------------------------------------------------------------------------------
// LISTS
//----------------------------------------------------------------------------------------------------------------------

ul {
  li {

  }
}

ol {
  li {

  }
}

dt {
  dl {

  }
}

//----------------------------------------------------------------------------------------------------------------------
// TABLES
//----------------------------------------------------------------------------------------------------------------------

table {
  tr {

  }
  th, td {

  }
  thead, th {

  }
  td {

  }
}


//----------------------------------------------------------------------------------------------------------------------
// FORMS
//----------------------------------------------------------------------------------------------------------------------

form {
  input,
  select,
  textarea {

  }
  select {

  }
  textarea {

  }
  input[type="text"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  input[type="email"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="number"],
  select[multiple],
  textarea {

  }
  legend, h1, h2, h3, h4 {

  }
}
