//--------
// Fonts
//
// Typography definitions

//--------
// Open Sans
// See https://www.google.com/fonts/specimen/Open+Sans

//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Open Sans'), local('OpenSans'),
//  url(/themes/custom/hoverboard/fonts/open-sans/open-sans.woff2) format('woff2'),
//  url(/themes/custom/hoverboard/fonts/open-sans/open-sans.woff) format('woff');
//}
//@font-face {
//  font-family: 'Open Sans Light';
//  font-style: normal;
//  font-weight: 300;
//  src: local('Open Sans Light'), local('OpenSans-Light'),
//  url(/themes/custom/hoverboard/fonts/open-sans-light/open-sans-light.woff2) format('woff2'),
//  url(/themes/custom/hoverboard/fonts/open-sans-light/open-sans-light.woff) format('woff');
//}
//@font-face {
//  font-family: 'Open Sans Semibold';
//  font-style: normal;
//  font-weight: 600;
//  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
//  url(/themes/custom/hoverboard/fonts/open-sans-semibold/open-sans-semibold.woff2) format('woff2'),
//  url(/themes/custom/hoverboard/fonts/open-sans-semibold/open-sans-semibold.woff) format('woff');
//}

//--------
// @todo - Remove below and replace with above until we get local dev to serve up font/woff mime type
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
  url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2'),
  url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'),
  url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
  url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'),
  url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
