//--------
// Layout
//
// Core/over arching layout structures defining sitewide zones


// Introduction/header element
.intro {
  @include clearfix();
  @include site-width('md', true, false);
  @include breakpoint($min: $fg-col-14) {
    @include site-width('lg', true, false);
  }
  padding: $fg-gutter;
}


// Main application controls
.controls {
  @include clearfix();
  margin-bottom: 20px;
  padding: $fg-gutter;
  background-color: $blue;
  z-index: 999;
  transition: padding 350ms ease;
  text-align: center;
  &.stuck {
    width: 100%;
    padding: 0 $fg-gutter;
    transition: padding 350ms ease;
    a {
      font-size: 1.4em;
      transition: font-size 350ms ease;
      @include breakpoint($min: $fg-col-10) {
        font-size: 1.2em;
      }
    }
    a + a {
      margin-left: 15%;
      @include breakpoint($max: $fg-col-10) {
        margin-left: 12%;
      }
    }
  }
  .page-width {
    @include clearfix();
    @include site-width('md', true, false);
    @include breakpoint($min: $fg-col-14) {
      @include site-width('lg', true, false);
    }
    padding: $fg-gutter;
  }
  a {
    font-family: "FontAwesome";
    font-weight: lighter;
    font-size: 2.0em;
    color: $white;
    transition: font-size 350ms ease;
    @include breakpoint($max: $fg-col-10) {
      font-size: 1.4em;
    }
  }
  a + a {
    margin-left: 15%;
    @include breakpoint($max: $fg-col-10) {
      margin-left: 12%;
    }
  }
}


// Styles for collection grid
.grid-container {
  @include clearfix();
  @include site-width('md', true, false);
  @include breakpoint($min: $fg-col-14) {
    @include site-width('lg', true, false);
  }
  padding: $fg-gutter;
  .amiibo-grid {
    h2 {
      display: inline-block;
      @include breakpoint($max: $fg-col-14) {
        font-size: 1.2rem;
      }
      @include breakpoint($max: $fg-col-10) {
        font-size: 1.0rem;
      }
      .group-control {
        cursor: pointer;
        display: inline-block;
        font-family: "FontAwesome";
        margin-right: 15px;
        color: $blue;
      }
      .group-select-toggle {
        &.toggle-uncollected {
          display: none;
        }
      }
      .group-expando-toggle {
        &.toggle-closed {
          display: none;
        }
      }
    }
    .group {
      overflow: hidden;
    }
    &.group-collected {
      .group-select-toggle {
        &.toggle-collected {
          display: none;
        }
        &.toggle-uncollected {
          display: inline-block;
        }
      }
    }
    &.group-closed {
      .group-expando-toggle {
        &.toggle-closed {
          display: inline-block;
        }
        &.toggle-opened {
          display: none;
        }
      }
      .group {
        display: none;
      }
    }
  }
  .amiibo-grid + .amiibo-grid {
    margin-top: 4%;
  }
  .grid-item {
    opacity: 0.3;
    text-align: center;
    cursor: pointer;
    .control-settings {
      font-family: "FontAwesome";
      margin-right: 5px;
      color: $blue;
      display: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .grid-item.collected {
    opacity: 1;
    .control-settings {
      display: inline-block;
    }
  }
}


// Styles for modal menus
.menu {
  text-align: left;
  overflow-y: scroll;
  height: 100%;
  background: rgba($black-hex, 0.8) !important;

  .title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 30px;
  }

  // Item settings menu
  &.menu-item-settings {
    counter-reset: item;
    .sub-items-container {
    }

    // Overall item controls
    .items-controls {
      margin-bottom: 40px;
      .control {
        display: inline-block;
        & + .control {
          margin-left: 20px;
        }
        .icon {
          font-family: "FontAwesome";
          margin-right: 10px;
          cursor: pointer;
        }
        .button {
          cursor: pointer;
        }
      }
    }

    // Each item's settings
    .item {
      position: relative;
      padding: 18px 20px;
      border: 1px solid $dark-border;
      border-top: 3px solid $dark-border;
      background-color: rgba($black-hex, 0.5);

      // Altered styles for first sub item element
      &:first-child {
        .controls-item-up {
          cursor: not-allowed;
          opacity: 0.3;
        }
      }

      // The item title or label
      .item-tab-label {
        position: absolute;
        bottom: calc(100% + 3px);
        left: -1px;
        height: 30px;
        width: 100%;
        background-color: rgba($black-hex, 0.5);
        .subitem-title {
          position: relative;
          line-height: 1.8rem;
          padding-left: 15px;
          color: $text-ltgrey;
          &:after {
            counter-increment: item;
            content: " " counter(item);
          }
        }
      }

      // Each sub item's tab controls
      .item-tab-controls {
        cursor: pointer;
        position: absolute;
        height: 0;
        bottom: 100%;
        right: -1px;
        padding: 4px 14px 4px 7px;
        line-height: 2.35rem;
        border-left: 33px solid transparent;
        border-bottom: 33px solid $dark-border;
        .control {
          font-family: "FontAwesome";
          margin-right: 6px;
          &:last-child {
            margin-right: 0;
          }
        }
        .controls-item-favorite-selected {
          display: none;
          color: $yellow;
          &.selected {
            display: inline;
          }
        }
      }
      &:last-child {
        margin-bottom: 30px;
      }
      & + .item {
        margin-top: 50px;
      }
      .icon {
        display: inline-block;
        font-family: "FontAwesome";
      }
      .control {
        & + .control {
          margin-top: 15px;
        }
        .input {
          display: table;
          .cell {
            display: table-cell;
          }
          .icon-cell {
          }
          .input-cell {
            width: 100%;
            padding-left: 15px;
            select {
              color: $black;
            }
          }
        }
        &.controls-item-status {
        }
        &.controls-item-condition {
        }
        &.controls-item-note {
          .button {
            cursor: pointer;
          }
          .notepad {
            width: 100%;
            font-size: 0.8rem;
            font-style: italic;
            color: $text-ltgrey;
            cursor: default;
            outline: 0px solid transparent;
            overflow: hidden;
            &.active {
              margin-top: 10px;
              min-height: 50px;
              max-height: 100px;
              padding: 4px;
              border: 1px solid $dark-border;
              cursor: text;
            }
            br, p {
              display: none;
            }
          }
        }
      }
    }
  }

  // Stats menu
  &.menu-stats {
    .stat-group {
      position: relative;
      padding: 8px 12px;
      border: 1px dashed $white;
      background-color: rgba($black-hex, 0.5);
      margin-bottom: 20px;
      &:first-child {
        border: 1px dashed $green;
        &.complete {
          border: 1px solid $green;
          .completed-icon {
            display: block;
          }
        }
      }
      &.complete {
        border: 1px solid $white;
        .completed-icon {
          display: block;
        }
      }
      .completed-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        font-family: "FontAwesome";
        font-size: 1.2rem;
        color: $green;
        display: none;
      }
      .group-title {
        font-weight: bolder;
        font-size: 1.0rem;
      }
      .group-perc {
        margin-top: 10px;
        font-size: 0.9rem;
      }
    }
  }

  // Group menu
  &.menu-group {
    .group-group {
      margin-bottom: 20px;
      .checkbox-icon {
        display: inline-block;
        font-family: "FontAwesome";
        margin-right: 15px;
        cursor: pointer;
      }
      &:not(.checked) {
        .checkbox-icon.checked {
          display: none;
        }
        .checkbox-icon.unchecked {
          display: inline-block;
        }
      }
      &.checked {
        .checkbox-icon.checked {
          display: inline-block;
        }
        .checkbox-icon.unchecked {
          display: none;
        }
      }
    }
  }

  // Sort menu
  &.menu-sort {
    .sort-controls {
      .control {
        margin-bottom: 20px;
        cursor: pointer;
        .icon {
          font-family: "FontAwesome";
          display: inline-block;
        }
        .control-title {
          display: inline-block;
          margin-left: 15px;
        }
      }
    }
  }

  // Menu share
  &.menu-share {
    .control {
      margin-bottom: 20px;
      .icon {
        font-family: "FontAwesome";
        margin-right: 15px;
      }
      .button {

      }
      .info {
        padding-left: 35px;
        margin-top: 6px;
        font-size: .8rem;
        max-width: 400px;
      }
    }
    .control-generate-share-image {
      display: none;
      .info {
        .download {
          display: none;
        }
        canvas {
          display: none;
        }
      }
    }
    .control-generate-stats-file {
      display: none;
      .info {
        .download {
          display: none;
        }
      }
    }
    .control-generate-json-config {
      .info {
        .download {
          display: none;
        }
      }
    }
    .control-upload-json-config {
      .info {
        .collection-configuration-input {
          display: none;
        }
      }
    }


    //.image-share-info {
    //  margin-bottom: 20px;
    //}
    //.image-canvas {
    //  margin-bottom: 40px;
    //  canvas {
    //    display: block;
    //    width: 400px;
    //    height: 500px;
    //    background: $white;
    //  }
    //  img {
    //    width: 100%;
    //    height: auto;
    //  }
    //}
  }

  // Menu restart
  &.menu-restart {
    .restart-info {
      margin-bottom: 30px;
    }
    .restart-buttons {

    }
  }
}
